*{
  font-family: 'Saira Condensed', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: #222831;
  margin: 0;
  font-family: 'Saira Condensed', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #ffff;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-track {
  background: #393e46;
}

body::-webkit-scrollbar-thumb {
  background: #ee4540;
  border-radius: 12px;
}
