.aboutMe {
    display: flex;
    margin: 0 0 0 100px;
}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 32px;
}

h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
    color: #EE4540;
    letter-spacing: 1px;
}

strong {
    color: white;
}

p {
    padding: 0 90px;
    text-align: center;
}